:root {
    --fga-dark-blue: #0f4a8a;
    --fga-medium-blue: #1d6bc5;
    --fga-dark-gray: #444444;
    --fga-medium-gray: #777777;
}

* {
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: 100vh;
    margin: 0;

    text-align: center;
    background: #f5f5f5;
}

h1 {
    color: var(--fga-dark-gray);

    font-size: 3.5rem;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;

    margin: 0;
}

h2 {
    color: var(--fga-medium-gray);

    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    text-transform: lowercase;

    margin: 0;
}

h1 b {
    color: var(--fga-medium-blue);
    font-weight: 800;
}

main p {
    color: var(--fga-dark-gray);
    font-size: 1.1rem;
    max-width: 500px;

    line-height: 1.5;

    box-shadow:
      rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    padding: 4rem 2rem;
    border-radius: 10px;
    background-color: white;
}

main p strong {
    color: var(--fga-dark-blue);
}

footer p {
    color: var(--fga-dark-gray);
    font-style: italic;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.social-media a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}

.social-media-icon {
    width: 32px;
    height: 32px;

    fill: var(--fga-dark-gray);
    transition: fill 0.3s ease-in-out, transform 0.2s ease;
}

.social-media a:hover .social-media-icon {
    fill: var(--fga-medium-blue);
    transform: scale(1.1);
}
