* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: grid;
    height: 100vh;
}

main {
    margin: auto;
    text-align: center;
}

h1 {
    color: #1c6bc5;
    font-size: 3rem;
    font-style: italic;
}

a {
    color: black;
}
